@import "_reset.scss";

// Classes

.body-container {
    margin: 4vw 0 1.5vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .body-container {
        display: none;
    }
}

.hero-container {
    width: 90vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.header-and-map-container {
    height: auto;
    width: 40vw;
    margin: 0 5vw 0 2.5vw;
}

.map-modal-container {
    height: auto;
    width: 30vw;
    margin: 0 2.5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    float: right;
    display: none;
    overflow: hidden;
}

.map-modal {
    height: auto;
    width: auto;
    box-sizing: border-box;
    border: solid .5vw #B8D3DE;
    background-color: #B8D3DE;
    // display: none;
}

.map-modal-header {
    height: 3vw;
    width: auto;
    background: #005071;
    display: flex;
    justify-content: space-between;

    .state-name {
        width: 100%;
        padding-left: 1vw;
        font-size: 2vw;
        color: #fff;
        font-weight: 900;
        font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        background: #074E6F;
        display: flex;
        justify-content: left;
        align-items: center;
    }
}

.map-modal-close-button {
    height: 3vw;
    width: 3vw;
    background: center / 50% 50% no-repeat url("../img/modal-close-button.svg"), #B8D3DE;
    cursor: pointer;
}

.map-modal-content {
    max-height: 25vw;
    min-height: 15vw;
    width: auto;
    background: #fff;
    margin: 0 0 .5vw 0;
    padding: 2vw 0 0 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.map-modal-state-image {
    height: auto;
    min-width: 40%;
    max-width: 60%;
    margin: 0 .5vw 0 0;
    img {
        margin: 0 0 1vw 0;
    }
}

.map-modal-location-list > ul {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 0 .5vw;
    
    li {
        font-size: 1vw;
        text-overflow: ellipsis;
        background: 0% 5% / .75vw .75vw no-repeat url("../img/list-item-bullet.svg");
        // background: 0% 25% / .75vw .75vw no-repeat url("../img/list-item-bullet.svg"); <-- THIS IS INSELFSTORAGE.COM SPECIFIC
        padding: 0 0 .5vw 1vw;
        float: right;

        a {
            font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
            font-weight: 600;
            letter-spacing: .1vw;
            text-transform: uppercase;
            color: #074E6F;
            text-decoration: none;
            transition: color .33s;

            .city-name-light {
                font-weight: 200;
            }
        }

        a:hover {
            color: #14A2DC;
        }
    }
}

.map-modal-ad {
    height: auto;
    width: 100%;
    background: #E4EDF0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
        font-size: 2vw;
        font-weight: 900;
        text-transform: uppercase;
        color: #14A2DC;
        text-decoration: none;
    }

    .map-modal-ad-starburst {
        height: 5vw;
        width: 5vw;
        margin: .1vw 1vw .1vw .5vw;
        background: center / contain no-repeat url("../img/map-modal-ad-starburst.svg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .map-modal-ad-starburst-text {
            font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
            font-size: .7vw;
            font-weight: 900;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
        }

        .map-modal-ad-starburst-percent {
            font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
            font-size: 1.25vw;
            font-weight: 900;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
        }
    }
}

// ID's

#map-instructions {
    font-size: 2.2vw;
    color: #074E6F;
    font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1vw;
}

#map-modal-instructions {
    font-size: 2.2vw;
    color: #074E6F;
    font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1vw;
    display: none;
}