@import "_reset.scss";

// Classes

.body-container {
    width: 100vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-name {
    background: #005071;
    width: auto;
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
    font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
    background: #074E6F;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-and-map-container {
}

.hero-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.map-container {
    height: 33vw;
    width: 40vw;
}

.map-modal-container {
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.map-modal {
    height: 23vw;
    width: 22vw;
    box-sizing: border-box;
    border: solid .4rem #B8D3DE;
    background-color: #fff;
    display: none;
}


// ID's

#map-instructions {
    font-size: 2rem;
    color: #074E6F;
    font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}