@import "_reset.scss";

// Classes

.body-container {
    padding: 2%;
    margin: 3rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.state-name {
    width: 100%;
    padding-left: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
    font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background: #074E6F;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-and-map-container {
}

.hero-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.map-container {
    height: 33vw;
    width: 40vw;
}

.map-modal-container {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.map-modal {
    height: auto;
    width: 25rem;
    box-sizing: border-box;
    border: solid .4rem #B8D3DE;
    background-color: #B8D3DE;
    display: none;
}

.map-modal-header {
    height: 3rem;
    width: 100%;
    background: #005071;
    display: flex;
    justify-content: space-between;
}

.map-modal-close-button {
    height: 3rem;
    width: 3rem;
    background: center / 50% 50% no-repeat url("../img/modal-close-button.svg"), #B8D3DE;
    cursor: pointer;
}

.map-modal-content {
    height: 20rem;
    background: #fff;
    margin-bottom: .4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.map-modal-state-image {
    height: auto;
    width: 50%;
    padding: 1rem 0 1rem 1rem;
}

.map-modal-location-list > ul {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    
    li {
        background: 0% 5% / .75rem .75rem no-repeat url("../img/list-item-bullet.svg");
        padding: 0 0 .3rem 1rem;
        margin-left: 1rem;

        a {
            font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            color: #074E6F;
            text-decoration: none;
        }
    }
}

.map-modal-ad {
    height: auto;
    width: 100%;
    background: #E4EDF0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #14A2DC;
        text-decoration: none;
    }

    .map-modal-ad-starburst {
        height: 5rem;
        width: 5rem;
        margin: .1rem 1rem .1rem .5rem;
        background: center / contain no-repeat url("../img/map-modal-ad-starburst.svg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .map-modal-ad-starburst-text {
            font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
            font-size: .7rem;
            font-weight: 900;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
        }

        .map-modal-ad-starburst-percent {
            font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
            font-size: 1.25rem;
            font-weight: 900;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
        }
    }
}

// ID's

#map-instructions {
    font-size: 2rem;
    color: #074E6F;
    font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}

#map-modal-instructions {
    font-size: 2rem;
    color: #074E6F;
    font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}